.modelBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200,200,200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .deleteButton {
        background-color: rgb(134, 9, 9); 
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        margin: 2px 2px;
        cursor: pointer;
       }