* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
  }

  html {
    font-size: 55.5%;
  }
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 1em;
  }
.modelBackground {
width: 100vw;
height: 100vh;
background-color: rgba(200,200,200);
position: fixed;
display: flex;
justify-content: center;
align-items: center;
}

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .fa{
    font-size:24px
  }
  .product-img {
    height:200px
   }
   .button{
    background-color:rgb(1, 139, 139);; 
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    margin: 2px 2px;
    cursor: pointer;
    
   }   
   .deleteButton {
    background-color: rgb(134, 9, 9); 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    margin: 2px 2px;
    cursor: pointer;
   }